
#BANNER{
    background-color: #a6b3ff;
    z-index: 40;
    position: fixed;
    left: 0vw;
    top: 0vh;
    height: 15vh;
    cursor: none;
    overflow: hidden;
    display: flex;
    width: 100vw;
  }
    
  .navbar{
    top: 14vh;
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 100%,
      0% 100%
      );
      font-size: 23px;
  }

  .nav-item{
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .banner img {
    max-height: 100%;
    max-width: 100%;
    margin: 0 10px;
  }
  
  .links-container {
      position: fixed;
      top: 0%;
      height: 15vh;
      right: 1%;
      display: flex;
      flex-direction: column; /* Alignement vertical des liens */
      padding: 5px;
      z-index: 450;
    }
    
    .link {
      border-radius: 25px;
      display: flex;
      align-items: center;
      background-color: rgb(255, 255, 255); /* Couleur de fond blanc */
      height:35px ;
      width: 35px; /* Largeur souhaitée pour le lien entier */
      margin-bottom: 5px; /* Ajout d'une marge en bas pour créer un interstice vertical */
      margin-right: 5px;
    }
    
    .text {
      color: black;
      font-weight: bold;
    }
    
    .link-img {
      position: relative;
      width: 25px;
      left: -5px;
      height: auto;
    }
    
    #positionDuBas{
      position: fixed;
      display: none;
    }
  
    #positionBande{
      position: fixed;
      display: none;
    }
  
    #resultat{
      position: fixed;
      display: none;
    }
  
  /************************************************* ness ****************************************/
  
  .nessclass{
    position: fixed;
    z-index: 60;
    top: 128px;
    animation: hidingness;
    animation-iteration-count: infinite;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-delay: 15s;
  }
  @keyframes hidingness {
    00%		{ top:128px; 	left: var(--random-left-left);transform: scale(1);}
    10%		{ top:70px; 	left: var(--random-left-left);transform: scale(1);}
    20%		{ top:70px; 	left: var(--random-left);transform: scale(1.3);}
    30%		{ top:128px; 	left: var(--random-left-right);transform: scale(1);}
    35%		{ top:128px; 	left: var(--random-left);}
    40%		{ top:80px; 	left: var(--random-left-left);transform: scale(1);}
    45%		{ top:80px; 	left: var(--random-left);}
    75%		{ top:128px; 	left: var(--random-left);}
    90%		{ top:50px; 	left: var(--random-left-right);}
    100%	{ top:128px; 	left: 50%;}   
  }
  
   #blackNess {
      width: 200px;
      height: 200px;
      background-color: black;
      position: absolute;
      z-index :51;
      clip-path: polygon(
        /* X Y */
        
        /* left top */
        5px 50px,
        7px 25px,
        10px 5px,
        12px 2px,
        15px 2px,
        36px 25px,
        
        /* center */
        50px 25px,
        
        /* right top */
        60px 25px,
        85px 2px,
        88px 2px,
        90px 5px, 
        92px 25px,
        95px 50px,
        
        /* right bottom */
        100px 100px,
        
        /* left bottom */
        0px 100px      
      );	
  }
  
  #blackNess:after {
    content: "";
    position: absolute;
    top: 0;
    left: 02px;
    width: 100%;
    height: 100%;
    background-color: pink;
    clip-path: polygon(
      /* X Y */
      
      /* left top */
    
      06px 25px,
      10px 06px,
      12px 03px,
      15px 03px,
      30px 17px,
      
      /* right top */
      
      66px 17px,
      82px 03px,
      84px 03px,
      86px 06px, 
      
      /* right bottom */
      88px 25px,
      
      /* middle bottom */
      77px 20px,
      66px 17px,
      30px 17px,
      15px 20px,
      /* left bottom */
      05px 25px      
    );
  }
  
    #whiteNess{
      width: 200px;
      height: 200px;
      background-color:white;
      position: absolute;
      z-index :52;
      clip-path: polygon(
        /* X Y */
        
        /* left bottom */
    20px 90px,
    
        /* left top */
    22px 55px,
    24px 52px,
    25px 50px,
    45px 45px,
        
        /* center */
    48px 35px,
        49px 35px,
        50px 35px,
        51px 35px,
        52px 35px,
        
        /* right top */
    55px 45px,
    75px 50px,
    76px 52px,
    78px 55px,
        
        /* right bottom */
    80px 90px
      );	
  }
  #eyebrows{
  z-index:60;
  width:80px;
  margin-left:10px;
  margin-top:20px;
  height:30px;
  background-color:black;
  position:absolute;
  /*clip-path: polygon(0px 0px, 80px 0px,80px 10px,40px 15px,0px 10px); /*angry*/
  /*clip-path: polygon(0px 0px, 80px 0px,80px 20px,40px 10px,0px 20px); /*sad-not selected*/
  /*clip-path: polygon(0px 50px, 80px 50px,80px 50px,40px 50px,0px 50px); /*suprised*/
  clip-path: polygon(00px 05px, 20px 01px, 60px 01px, 80px 05px, 80px 15px, 40px 15px, 00px 15px); /*blased*/
  /*clip-path: polygon(0px 0px, 80px 0px,80px 15px,45px 16px,40px 15px,35px 15px,0px 5px); /*dubitative-not selected*/
  /*clip-path: polygon(0px 0px, 80px 0px,80px 20px,45px 20px, 45px 25px, 80px 25px,80px 15px,40px 15px,0px 15px, 0px 20px, 35px 20px, 35px 25px, 0px 25px); /*suspicious*/
  
  animation: expression 50s infinite;
  }
  
    @keyframes expression {
      10%		{ background-color: black;    clip-path: polygon(00px 05px, 20px 05px, 60px 05px, 80px 05px, 80px 05px, 40px 05px, 00px 05px);} /*Curious*/
      20%		{ background-color: black;    clip-path: polygon(00px 05px, 20px 01px, 60px 01px, 80px 05px, 80px 15px, 40px 15px, 00px 15px);} /*neutral*/
      30%		{ background-color: black;    clip-path: polygon(00px 01px, 20px 01px, 60px 01px, 80px 01px, 80px 01px, 40px 01px, 00px 01px);} /*surprised*/
      40%		{ background-color: black;    clip-path: polygon(00px 05px, 20px 01px, 60px 01px, 80px 05px, 80px 15px, 40px 15px, 00px 15px);} /*neutral*/
      /* 45%		{ background-color: black;    clip-path: polygon(00px 05px, 20px 01px, 60px 01px, 80px 05px, 80px 17px, 40px 10px, 00px 17px);} /*worried*/
      75%		{ background-color: black;    clip-path: polygon(00px 05px, 20px 01px, 60px 01px, 80px 05px, 80px 15px, 40px 15px, 00px 15px);} /*neutral*/
      10%		{ background-color: black;    clip-path: polygon(00px 05px, 20px 05px, 60px 05px, 80px 05px, 80px 05px, 40px 05px, 00px 05px);} /*Curious*/
      100%	{ background-color: black;    clip-path: polygon(00px 05px, 20px 01px, 60px 01px, 80px 05px, 80px 15px, 40px 15px, 00px 15px);} /*neutral*/    
  }
    .eyes {
      position: absolute;
      display: flex;
      margin: 25px 10px;
      z-index: 55;
  }
  .eyes .eye {
      position: relative;
      width: 20px;
      height: 20px;
      display: block;
      background: radial-gradient(#4f5c16,#bfdf0a,#4f5c16);
      margin: 0 10px;
      border-radius: 50%;
  }
  .eyes .eye::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 28%;
      transform: translate(-50%, -50%);
      width: 10px;
      height: 10px;
      background: black;
      border-radius: 50%;
      animation: grozyeux;
      animation-duration:  30s;
      animation-iteration-count: infinite;
      animation-delay: 0s;
  }
  
  @keyframes grozyeux {
  5% 	  { width: 10px;	height: 10px; }
  8% 		{ top: 50%; left: 50%; width: 15px;	height: 15px; }
  11% 	{ width: 10px;	height: 10px; }
  }
  .eyelid{
  border-radius: 30% 30% 50% 50%;
  width : 30px;
  height: 0px;
  background-color:black;
  z-index:61;
  position: absolute;
  animation : blink 6s infinite;
  }
  @keyframes blink {
  98%		{ height: 0px;}
  99%   { height: 20px;}
  100%	{ height: 0px;}   
  }	
  #R-eyelid{
  margin-left:45px;
  }
  #L-eyelid{
  margin-left:5px;
  }
  #pinkNess{
      width: 15px;
      margin-left: 50px;
      margin-top: 45px;
      height: 8px;
      background-color:pink;
      position: absolute;
      z-index :59;
      transform: translateX(-50%);
      border-radius: 30% 30% 60% 60% / 50% 50% 90% 90%;
  }


  @media only screen and (max-width: 990px) {
    .navbar-toggler{
      height: 60px;
    }
  }