/* *********************** degrees & certifications style ********************** */

.container-dc{
	background-color:#51f3ffb4;
  color: black;
	height: 100%;
	width:100% ;
	position: relative;
  padding: 2%;
}