/* *********************** home style ********************** */

  #home-title, #home-text{
    padding-top: 50px;
    padding-left: 5px;
    color: #ffffff;
  }

  .min-width-0 {
    min-width: 400px;
  }
  

  .container {
    left: -50px;
    padding: 50px ;
    display: flex;
    position: relative;
    width: 80%;
    box-sizing: border-box;
    height: 50vh;
  }

  .box {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 2% 2%;
    box-shadow: 0 20px 30px rgba(0,0,0,.1);
    line-height: 0;
    position: relative;
    border-radius: 15px;
  }
  
  .box > img {
    width: 250%;
    height: calc(50vh);
    object-fit: cover; 
    transition: .5s;
    object-position: center;
  }
  
  .box:hover { flex: 1 1 100%; }
  .box:hover > img {
    width: auto;
    height: 100%;
    object-fit:cover;
  }
  
  
  .overlay {
    position: absolute;
    height: 70px;
    bottom: 0; /* Positionner le texte en bas de l'image */
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    flex-direction: column; /* Utiliser une disposition en colonne pour afficher le texte sur deux lignes */
    align-items: center;
    padding: 10px; /* Ajouter un padding pour espacer le texte du bord de l'image */
    opacity: 0;
    transition: .5s;
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }

  .photo-link{
    margin-top: 10px;
    color: #fff;
    text-decoration: underline;
  }
  
  .overlay .title {
    margin-top: 10px;
  }
  
  
  .box:hover .overlay { opacity: 1; }
  