.portrait{
    position: absolute;
    max-height: 60vh;
    bottom: 0%;
  }

  @media screen and (min-width:0px) and (max-width:575px) {
  }

  @media screen and (min-width:575px) and (max-width:767px) {

    .portrait{
        position: absolute;
        max-height: 50vh;
}

}

