#informations h2{
    font-size: 100px;
    height: 120px;
}

.form{
    height: 20vh;
}



.minime-head{
    height: 300px;
    width: 450px;
}

.ears{
    position: absolute;
    top: 100px;
    left: 180px;
    background-color: pink;
    height: 20px;
    width: 120px;
    border-radius: 50px;
}

.ears::before{
    content: '';
    position: absolute;
    top: 15px;
    left:5px;
    background-color: pink;
    height: 10px;
    width: 110px;
    border-radius: 50px;
}

.head{
    position: relative;
    top: 50px;
    left: 175px;
    height: 120px;
    width: 100px;
    border-radius: 50px;
    background-color: pink;
}

.beard{
    position: relative;
    top: 5px;
    left: 175px;
    height: 50px;
    width: 100px;
    background-color:rgb(49, 27, 8);
    clip-path: polygon(
        00% 00%,
        30% 20%,
        50% 10%,
        50% 25%,
        35% 40%,
        40% 50%,
        
        60% 50%,
        65% 40%,
        50% 25%,
        50% 10%,
        70% 20%,
        100% 00%,
        
        100% 60%,
        80% 80%,
        60% 100%,
        40% 100%,
        20% 80%,
        00% 60%
    );
}

.glasses{
    position: relative;
    left: 175px;
    top: -80px;
    height: 35px;
    width: 100px;
    background-color: black;
    clip-path: polygon(
        0% 35%,
        0% 20%,
        2% 15%,
        5% 10%,
        40% 10%,
        45% 15%,

        55% 15%,
        60% 10%,
        95% 10%,
        98% 15%,
        100% 20%,
        100% 35%,

            
        95% 40%,
        95% 90%,
        90% 95%,
        85% 100%,
        65% 100%,

        60% 90%,
        55% 40%,
        45% 40%,
        40% 90%,  

        35% 100%,
        15% 100%,
        10% 95%,
        05% 90%,
        05% 40%
        );
}

.glasses::before{
    content:'';
    position: absolute;
    background-color:white;
    height: 20px;
    width: 30px;
    top: 10px;
    left: 8px;
    border-radius: 5px;
}

.glasses::after{
    content:'';
    position: absolute;
    background-color:white;
    height: 20px;
    width: 30px;
    top: 10px;
    left: 62px;
    border-radius: 5px;
}

.nose{
    position: relative;
    height: 100px;
    width: 120px;
    left: 162px;
    top: -100px;
    background-color: rgb(224, 148, 161);
    clip-path: polygon(
        50% 0%,
        50% 20%,
        47% 20%,
        45% 25%,
        43% 25%
        );
}

.torso{
    position: absolute;
    top: 150px;
    left: 175px;
    height: 140px;
    width: 130px;
    border-radius: 50px 50px 0px 0px;
    background-color: rgb(28, 68, 15);
}

.torso::before{
    position: absolute;
    content:'';
    border-radius: 50px 50px 0px 0px;
    height: 80px;
    width: 50px;
    left: -20px;
    background-color: rgb(28, 68, 15);
    transform: rotate(45deg);
}

.torso::after{
    position: absolute;
    content:'';
    border-radius: 50px 50px 0px 0px;
    height: 80px;
    width: 50px;
    left: 100px;
    background-color: rgb(28, 68, 15);
    transform: rotate(-45deg);
}
.arms {
    position: relative;
    top: -110px;
    left: 120px;
    height: 35px;
    width: 35px;
    background-color: pink;
    border-radius: 50px;
}

.arms2 {
    position: relative;
    top: -143px;
    left: 298px;
    height: 33px;
    width: 33px;
    background-color: pink;
    border-radius: 50px;
}   

.arms::before,
.arms::after {
    content: '';
    position: absolute;
    height: 100px;
    width: 30px;
    top: -25px;
    left: 150px;
    background-color: pink;
    border-radius: 50px;
}

.arms::before {
    transform: rotate(-80deg);
    left: 30px;
}

.arms::after {
    transform: rotate(80deg); /* Inversion de la rotation */
}

.thumb {
    position: absolute;
    left: 195px;
    top: 200px;
    background-color: pink;
    height: 25px;
    width: 25px;
    clip-path: polygon(0% 0%, 25% 0%, 75% 100%, 0% 100%);
    transform-origin: bottom;
    animation: thumbup 2s infinite alternate;
}

@keyframes thumbup {
    0% {
        transform: rotate(90deg);
        scale: .8;
    }
    100% {
        transform:  rotate(10deg);
        scale: 1.2;
    }
}

.thumb2 {
    position: absolute;
    background-color: pink;
    left: 260px;
    top: 200px;
    height: 25px;
    width: 25px;
    clip-path: polygon(100% 0%, 75% 0%, 25% 100%, 100% 100%);
    transform-origin: bottom;
    animation: thumbup2 2s infinite alternate;
}

@keyframes thumbup2 {
    0% {
        transform: rotate(-110deg);
        scale: .8;
    }
    100% {
        transform:  rotate(-10deg);
        scale: 1.2;
    }
}

.bordercv{
    position: relative;
    top: -10px;
    left: 100px;
    background-color: white;
    border: solid black 5px;
    height: 50px;
    width: 250px;
    text-align: center;
    padding-top: 5px;
}

.bordercv a{
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;}

