@media screen and (min-width:0px) and (max-width:575px) {
  
  .page{
    height: calc(75vh - 210px);
    width: 100vw;
    display: flex;
    flex-shrink: 0;
  }
  
.page h2{
  font-size: 50px;
  font-weight: 800;
}

.page h1{
  font-size: 18px;
}

.portrait{
  position: absolute;
  width: 250px;
  bottom: -100%;
}

.page .text{
  position: absolute;
  top: 20%;
  left: 5%;
  width: 100%;
  font-size: 14px;
  font-weight: normal;
}

/* VALUE */

#values h2{
  font-size: 50px;
  font-weight: 800;
  }

  .card {
    top: 0%;
    position: relative;
    display: flex;
    padding: 0.2rem;
    width: 125px;
    height: 60%;
    background-color: rgba(245, 245, 245, 0.596);
  }

  .card .title {
    position: absolute;
    left: 5%;
    top:90%;
    font-size: 12px;

    font-weight: bold;
  }
  
  .card .copy {
    position: relative;
    color: transparent;
    font-size: 0px;
    font-style: italic;
    line-height: 1;
    background-color:transparent;
    z-index: 48;
    transform: rotate(0deg) scale(0.9);
  }


/*trivia */

#trivia h2{
    position: absolute;
  font-size: 50px;
  font-weight: 800;
  height: 20px;
  }

  .funfact{
    height:30vh;
    padding: 75%;
  }

  .hexagone{
    width: 100%;
    height: 60%;
  }

  #dadcat{
    bottom: -7%;
  }
  #gamer{
    bottom: -7%;
  }
  #tinkerer{
    top: -7%;
  } 
   #mover{
    top: -7%;
  }

  .description{
    text-align: center;
    padding: 25% 10%;
    color: white;
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0%;
    font-size: 0px;
    font-weight: normal;
    background-color: rgba(0, 0, 0, 0);
  }


/*  SKILLS  */

#skills{
  height: 100%;
  width: 100%;
}
#skills h2{
  position: relative;
  font-size: 50px;
  height: 50px;
  left: -19%;
  }

.cards_skills{
  position: relative;
  height: 15%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 2px 0px 0px 10px;
  background-color: #00043ba1;
  margin: 0px;
}

.cards-skill-title{
  font-size: 13px;
  color: rgb(63, 141, 137);
}

.img-card-skill{
display: none;
}

.title-skill{
  color: white;
  font-size: 13px;
  font-weight: normal;
}

.description-skill{
display: none;
}

.skillunit{
  top: 0%;
  position: relative;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  align-items: center;
  left: 10px;
}

.softskillunit {
  position: relative;
  width: calc(100% / 3 - 10px);
  height: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
.title-softskill {
  position: relative;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: white;
}
  
.img-card-softskill {
  position: relative;
  max-height: 50px;
  max-width: 60px;
}
  

  .gauge {
    width: 100%;
    height: 2px;
    background-color: #00d4fa83;
    position: relative;
  }
  
  .gauge-level {
    height: 100%;
    background-color: #00d4fa;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0.5s;
  }
  /*  PROJECTS  */

  #projects h2{
    position: absolute;
    font-size: 50px;
    height: 40px;
    left: 0%;
    }
  
    .hexagon {
      top: 25%;
      position: relative;
      width: 150px;
      height: 150px;
      overflow: hidden;
    }
    
    .hexagon:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      clip-path: polygon(
        50% 0%,
        95% 25%,
        95% 75%,
        50% 100%,
        5% 75%,
        5% 25%
      );
    }
    .hex-text{
      position: relative;
      top:80%;
      left: -20%;
      width: 100%;
      color: white;
      font-weight: bold;
      rotate: calc(28deg);
      text-align: center;
    }
    
    .hexagon-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      clip-path: polygon(
        50% 0%,
        95% 25%,
        95% 75%,
        50% 100%,
        5% 75%,
        5% 25%
      );
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  
    .hexagon-img:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(35deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0) 100%);
    }
  
  
  /* ######## CONTACT ####### */

  #contact h2{
    font-size: 50px;
    height: 75px;
    }

    .contact-form{
      position: relative;
      height: 150vh;
      left: 5%;
      z-index: 47;
    }
  
  


/* footer */

.powered{
  font-size: 10px;
  height: 10vh;
}

footer{
  height: 10vh;
}


}