@media screen and (min-width:0px) and (max-width:575px) {
  
  .page{
    position: relative;
    height: calc(75vh - 210px);
    width: 100vw;
    display: flex;
    flex-shrink: 0;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    height: auto;
    overflow: auto;
    white-space: nowrap;
  }
    
  .wrapper > * {
    width: 100%;
    white-space: normal;
  }
  
.page h2{
  font-size: 50px;
  font-weight: 800;
}

.page h1{
  font-size: 20px;
}

.portrait{
  position: absolute;
  width: 200px;
  left: -25%;
  bottom: 0%;
}

.page .text{
  text-align: right;
  position: absolute;
  top: 40%;
  right: 0%;
  width: 60%;
  font-size: 16px;
  font-weight: normal;
}

/* VALUE */

#values h2{
  font-size: 50px;
  font-weight: 800;
  }

  .colvalues{
    position: relative;
    height: 13%;
    top: -10%;
  }

  .card {
    top: 0%;
    position: relative;
    padding: 0.1rem;
    width: 100vw;
    height: 90%;
    background-color: rgba(245, 245, 245, 0.596);
  }

  .img{
    display: none;
  }

  .card .title {
    position: absolute;
    left: 5%;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
  }
  
  .card .copy {
    position: relative;
    color: transparent;
    font-size: 15px;
    font-style: italic;
    line-height: 1;
    background-color:transparent;
    z-index: 48;
    transform: rotate(0deg) scale(0.9);
    display: none;
  }


/*trivia */
.coltrivia{
  position: relative;
  height: 15%;
  width: 120vw;
  padding-left: 2%;
}
#trivia h2{
    position: absolute;
  font-size: 50px;
  font-weight: 800;
  height: 20px;
  top: -50%;
  }

  .funfact{
    height:5vh;
    width: 100vw;
  }

  .hexagone{
    width: 100%;
    height: 100%;
    clip-path: none;
  }

  #dadcat{
    position: absolute;
    bottom: -15%;
  }
  #gamer{
    bottom: -7%;
  }
  #tinkerer{
    top: -7%;
  } 
   #mover{
    top: -7%;
  }

  .description{
    text-align: center;
    padding: 25% 10%;
    color: white;
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0%;
    font-size: 12px;
    font-weight: normal;
    background-color: rgba(0, 0, 0, 0);
    display: none;
  }


/*  SKILLS  */

#skills{
  position: relative;
  left: 10%;
  height: 100%;
  width: 100%;
}
#skills h2{
  position: relative;
  font-size: 50px;
  height: 50px;
  left: -19%;
  }

.cards_skills{
  position: relative;
  max-width: 500px;
  min-width: 350px; 
  height: 20%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 0px 0px 10px;
  background-color: #00043ba1;
  margin: 0px;
}

.cards-skill-title{
  font-size: 13px;
  color: rgb(63, 141, 137);
  padding: 2%;
}

.img-card-skill{
display: none;
}

.title-skill{
  color: white;
  font-size: 13px;
  font-weight: normal;
}

.description-skill{
display: none;
}

#softskills{
  height: 35%;
}
.skillunit{
  top: 0%;
  position: relative;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  align-items: center;
  left: 10px;
}

.softskillunit {
  position: relative;
  width: calc(100% / 3 - 10px);
  height: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
.title-softskill {
  position: relative;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: white;
}
  
.img-card-softskill {
display: none;
}
  

  .gauge {
    width: 100%;
    height: 2px;
    background-color: #00d4fa83;
    position: relative;
  }
  
  .gauge-level {
    height: 100%;
    background-color: #00d4fa;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0.5s;
  }



  /*  PROJECTS  */

  #projects{
    position: relative;
    top: 400px;
    width: 100vw;
  }
  #projects h2{
    position: relative;
    font-size: 50px;
    height: 40px;
    width: 100vw;
    left: 0%;
    top: -200%;
    }
  
    .projects-small-view{
      display: inline;
      position: relative;
      top: -60%;
      width: 300%;
      color: white;
      font-size: 16px;
      padding: 8%;
    }

    .hexagon {
      display: none;
    }
    
    .hexagon:before {
      display: none;
    }
    .hex-text{
      position: relative;
      top:80%;
      left: -20%;
      width: 100%;
      color: white;
      font-weight: bold;
      rotate: calc(28deg);
      text-align: center;
    }
    
    .hexagon-img {
      display: none;

    }
  
    .hexagon-img:before {
display: none;
    }
  
  
  /* ######## CONTACT ####### */

  #contact{
    position: relative;
    height: 50vh;
    top: 200px;
    color: white;
  }
  #contact h2{
    font-size: 50px;
    height: 75px;
    }

    .contact-form{
      position: relative;
      height: 75vh;
      left: 5%;
      z-index: 47;
    }
  
  


/* footer */

.powered{
  font-size: 12px;
  height: 10vh;
}

footer{
  height: 10vh;
}


}