/*
.col-1{background-color: rgba(255, 0, 0, 0.2);}
.col-2{background-color: rgba(0, 0, 255, 0.2);}
.col-3{background-color: rgba(0, 255, 64, 0.2);}
.col-4{background-color: rgba(255, 123, 0, 0.2);}
.col-5{background-color: rgba(255, 0, 255, 0.2);}
.col-6{background-color: rgba(111, 0, 255, 0.2);}
.col-7{background-color: rgba(0, 238, 255, 0.2);}
.col-8{background-color: rgba(166, 255, 0, 0.2);}
.col-9{background-color: rgba(255, 255, 255, 0.2);}
.col-10{background-color: rgb(0, 0, 0);}
.col-11{background-color: rgba(172, 172, 172, 0.2);}
.col-12{background-color: rgba(77, 77, 77, 0.2);}
*/
section{
  position: relative;
  height: 100vh;
  width: 100vw;
}

.section-title{
  position: relative;
  font-weight: bolder;
  font-size: 5vw;
  color: rgba(255, 255, 255, 0.2);
}

.light-section{
  background-color: rgba(0, 0, 0, 0);
}

.dark-section{
  background-color: rgba(0, 0, 0, 0.5);
}

.card_skills{
  position: relative;
  background-color: rgba(255, 255, 255, 0.459);
  height: 50vh;
  width: 15vw;
}

@media screen and (max-width: 1200px) and (min-width: 971px) {
  .card_skills {
    width: 30vw;
    height: 130px;
    }
  }

  @media screen and (max-width: 990px) and (min-width: 770px) {
    .card_skills {
      width: 60vw;
      height: 130px;
      }

      .shake{
  display: none;
}
    }

.card_values{
  position: relative;
  background-color: rgba(255, 255, 255, 0.459);
  height: 30vh;
  width: 20vw;
  text-align: center;
}

.card_values img{
  margin-top: 1vw;
  width: 18vw;
  height: 15vh;
  object-fit: cover;
}

@media screen and (max-width: 770px) {
  .card_skills {
    width: 70vw;
    height: 130px;
    }

  .card_values {
    width: 35vw;
    height: 15vh;
    }

    .card_values img{
      display: none;
    }

    #imageCarousel {
      height: 30vh;
  }

  #imageCarousel .img-fluid-carousel {
    height: 35vh;
    width: 100%;
}

#imageCarousel .carousel-caption {
width: 100%;
left: 0%;
bottom: 0%;
background: linear-gradient(0deg, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.75) 71%, rgba(0,0,0,0) 100%);
  }

}

textarea{
  width: 50vw;
}

.blackcontent{
  background-color: black;
}

.img-fluid{
  max-height:400px;
}

.img-fluid-carousel{
  height: 60vh ;
}

.container-fluid{
  position: relative;
  top:21vh;
}



#canvas {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgb(22, 22, 22);
  }

  .fade-out {
    opacity: 0;
    transition: opacity 0.3s ease-out;
  }
  .fade-in {
    opacity: 1;
    transition: opacity 0.3s ease-in;
  }

/* """"""FOOTER """"""""""""""""""*/

footer{
  position: relative;
}


  /* ######################## POP UP ############################## */

  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    visibility: hidden;
  }
  
  .popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    text-align: center;
  }
  
  .popup-content h2 {
    margin-top: 0;
  }
  
  .popup-content p {
    margin-bottom: 20px;
  }
  
  #close-btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }