/*
.col-1{background-color: rgba(255, 0, 0, 0.2);}
.col-2{background-color: rgba(0, 0, 255, 0.2);}
.col-3{background-color: rgba(0, 255, 64, 0.2);}
.col-4{background-color: rgba(255, 123, 0, 0.2);}
.col-5{background-color: rgba(255, 0, 255, 0.2);}
.col-6{background-color: rgba(111, 0, 255, 0.2);}
.col-7{background-color: rgba(0, 238, 255, 0.2);}
.col-8{background-color: rgba(166, 255, 0, 0.2);}
.col-9{background-color: rgba(255, 255, 255, 0.2);}
.col-10{background-color: rgb(0, 0, 0);}
.col-11{background-color: rgba(172, 172, 172, 0.2);}
.col-12{background-color: rgba(77, 77, 77, 0.2);}
*/

body{
  overflow-x: hidden;
}
section{
  position: relative;
  height: 100vh;
  width: 100vw;
}

.section-title{
  position: relative;
  font-weight: bolder;
  font-size: 3vw;
  color: rgba(255, 255, 255, 0);
}

.light-section{
  background-color: rgba(0, 0, 0, 0);
}

.dark-section1{
  background-color: rgb(221, 221, 221);
  clip-path: polygon(0% 5%, 100% 0%,100% 95%, 50% 100%, 0% 95%);
}

.dark-section2{
  background-color: rgba(0, 0, 0, 0.5);
  clip-path: polygon(0% 0%,50% 5%, 100% 0%,100% 96%, 0% 100%);
}

.home-description{
  color: white;
  font-weight: bold;
  ;
}


.card_skills{
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
  height: 50vh;
  width: 16vw;
  border-radius: 15px;
  transition: background-color 0.5s ease-in-out;
}

.S1:hover{
  background: linear-gradient(140deg, rgba(64,166,101,0.5) 10%, rgba(64,166,101,0) 50%, rgba(64,166,101,0.5) 90%);
  color: white;
}
.S2:hover{
  background: linear-gradient(150deg, rgba(64,166,101,0.5) 10%, rgba(64,166,101,0) 50%, rgba(64,166,101,0.5) 90%);
  color: white;
}
.S3:hover{
  background: linear-gradient(160deg, rgba(64,166,101,0.5) 10%, rgba(64,166,101,0) 50%, rgba(64,166,101,0.5) 90%);
  color: white;
}
.S4:hover{
  background: linear-gradient(170deg, rgba(64,166,101,0.5) 10%, rgba(64,166,101,0) 50%, rgba(64,166,101,0.5) 90%);
  color: white;
}



.card_values{
  position: relative;
  background-color: rgba(255, 255, 255, 0.459);
  height: 30vh;
  text-align: center;
  width: calc(100% / 1.5);

}

.card_values img{
  margin-top: 1vw;
  width: 90%;
  height: 75%;
  object-fit: cover;
}

.card-text{
  position: relative;
  background: linear-gradient(159deg, rgb(236, 230, 109) 0%, rgb(194, 181, 43) 71%, rgb(184, 181, 51) 100%);
  width: 130px;
  height: 100px;
  top: -100%;
  padding: 5px 8px 5px 8px;
  font-size: 12px;
}

.postit1{
  rotate: -30deg;
  left: 40%;
}
.postit2{
  rotate: 20deg;
  left: -10%; 
}
.postit3{
  rotate: -10deg; 
}
.postit4{
  rotate: -30deg;
  left: 25%;
}
.postit5{
  rotate: 30deg;
  left: 30%; 
}
.postit6{
  rotate: 15deg;
  left: 20%; 
}

.card-title-value{
  background-color: transparent;
}

textarea{
  width: 50vw;
}

.blackcontent{
  background-color: black;
}

.img-fluid{
  position: relative;
  max-height:60vh;
}

.img-fluid-carousel{
  height: 60vh ;
}

.container-fluid{
  position: relative;
  top:21vh;
}

.separator{
  position: relative;
  background-color: rgba(255, 255, 255, 0.25);
  height: 1px;
  width: 100%;
  margin: 20px 0px 10px 0px;
}
/* ########################## SKILLS############################## */

.gauge {
  width: 100%;
  height: 4px;
  background-color: rgba(0, 212, 250, 0.1);
  position: relative;
  border-radius: 10px;
}

.gauge-level {
  height: 100%;
  background-color: rgba(0, 212, 250, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  transition: width 0.5s;
  border-radius: 10px;
}

.card_skills.S1:hover .gauge {
  background-color: rgba(0, 212, 250, 0.5);
}
.card_skills.S1:hover .gauge-level {
  background-color: rgb(0, 212, 250);
}
.card_skills.S2:hover .gauge {
  background-color: rgba(0, 212, 250, 0.5);
}
.card_skills.S2:hover .gauge-level {
  background-color: rgb(0, 212, 250);
}
.card_skills.S3:hover .img-card-softskill {
  opacity: 1;
}

.card-text-skill{
  text-align: left;
  left: 10%;
  position: relative;
  font-size: 12px;
  bottom: -16px;
}

.S3 .card-text-skill{
  top:0px;
}
.S3 .gauge{
  top: -15px;
}
.card_skills.S3:hover .gauge {
  background-color: rgba(0, 212, 250, 0.5);
}
.card_skills.S3:hover .gauge-level {
  background-color: rgb(0, 212, 250);
}

.softskillunit {
  position: relative;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-softskill {
  position: relative;
  font-size: 11px;
  text-align: center;
}

.img-card-softskill {
  position: relative;
  max-height: 50px;
  max-width: 60px;
  opacity: 0.5;
}


.bordercv{
  border: solid black 2px;
  width: fit-content;
  padding: 20px;
  background-color: rgba(128, 128, 128, 0.25);
}

.bordercv a{
  color: white;
}

#canvas {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgb(22, 22, 22);
  }

  .fade-out {
    opacity: 0;
    transition: opacity 0.3s ease-out;
  }
  .fade-in {
    opacity: 1;
    transition: opacity 0.3s ease-in;
  }

  input{
    background-color: lightgray;
  }
  textarea{
    background-color: lightgray;
  }
  .polygon-section{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.25);
    clip-path: polygon(10% 10%, 50% 5%, 90% 10%, 90% 75%, 75% 80%, 10% 75%);
  }

  footer{
    position: fixed;
    font-size: 12px;
    height: 50px;
    width: 100vw;
    bottom: 0px ;
  }
  

  /* ######################## POP UP ############################## */

  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    visibility: hidden;
  }
  
  .popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    text-align: center;
  }
  
  .popup-content h2 {
    margin-top: 0;
  }
  
  .popup-content p {
    margin-bottom: 20px;
  }
  
  #close-btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

/* ############################################### */

@media screen and (max-width: 770px) {
 
  .card_skills {
    width: 70vw;
    height: 130px;
  }

  .img-card-softskill{
    display: none;
  }

  .softskillunit{
    padding: 0%;
  }
  
  .card-text-skill{
    font-size: 10px;
    bottom: 0%;
    margin: 0%;
    background-color: transparent;
  }

  .card_values {
    width: 35vw;
    height: 15vh;
  }

  .card-text{
    position: relative;
    background:transparent;
    width: 100%;
    height: 100%;
    top: -10%;
    left: 0%;
    padding: 0px 8px 5px 8px;
    font-size: 12px;
    rotate: 0deg;
  }  


  .card_values img{
    position: absolute;
    left: 0%;
    top: -3%;
    width: 100%;
    height: 100%;
    opacity: 0.25;
  }

  #imageCarousel {
    height: 30vh;
  }

  #imageCarousel .img-fluid-carousel {
    height: 35vh;
    width: 100%;
  }



  .gauge-wrapper{
    display: none;
  }
  .language{
    display: none;
  }
    
}


@media screen and (max-width: 990px) and (min-width: 770px) {
  .card_skills {
    width: 60vw;
    height: 130px;
    background: linear-gradient(130deg, rgba(64,166,101,0.5) 10%, rgba(64,166,101,0) 50%, rgba(64,166,101,0.5) 90%);
    color: white;
}
  
  .img-card-softskill{
    display: none;
  }

  .softskillunit{
    padding: 0%;
  }
  
  .card-text-skill{
    font-size: 10px;
    bottom: 0%;
    margin: 0%;
    background-color: transparent;
  }

  .gauge-wrapper{
    display: none;
  }
  .language{
    display: none;
  }
          
  .card-text{
    scale: 0.8;
  }

  .shake{
    display: none;
  }
}

@media screen and (max-width: 1200px) and (min-width: 971px) {
  .card_skills {
    width: 30vw;
    height: 130px;
    background-color: rgba(255, 255, 255, 0.1);
    background: linear-gradient(130deg, rgba(64,166,101,0.5) 10%, rgba(64,166,101,0) 50%, rgba(64,166,101,0.5) 90%);
    color: white;
  }

  .img-card-softskill{
    display: none;
  }

  .softskillunit{
    padding: 0%;
  }

    .gauge-wrapper{
    display: none;
  }

  .language{
    display: none;
  }
    
  .card-text{
    scale: 0.8;
  }

  .card-text-skill{
    font-size: 10px;
    bottom: 0%;
    margin: 0%;
    background-color: transparent;
  }

  footer{
    position: relative;

  }
  

}
